<html>

<header>
  <h1>Registration</h1>
</header>

<body>
  <form action="reg_numbers" method="post">
    <div class="row">
      <div class="twelve columns">
        <input class="four columns InputReg" pattern="(([A-Z]{2,3} [0-9]{3}-[0-9]{3})|([A-Z]{2,3} [0-9]{1,7})" title="Enter registration starting with CAPS (eg. CK, CY, CA, CAW )"
          type="text" name="regText" placeholder="Enter reg number...." maxlength="8">
        <br>
        <br>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="twelve columns">
          {{#if messages.info}}
          <b>
            <div class="errorDisplay entry">
              <p> {{messages.info}}</p>
          </b>
        </div>
        {{/if}}
      </div>
      <div class="twelve columns">
        <button class="button-primary Addbtn" type="submit" name="button">Add</button>
      </div>
      <br>
      <br>
  </form>
<br>
  <form action="/filter" method="post">
    <div class="row">
      <div class=" twelve columns ">
        <div class="row">

          {{#each towns}}
          <div class="two columns">
            <input type="radio" name="TownType" class="Type_of_Town" value="{{id}}" {{filtered}}>
            <span>{{town}}</span>
          </div>
          {{/each}}

        </div>
        <br>
    
          <button class="button-primary showbtn" type="submit" name="button">FILTER</button>
  </form>
  </div>
  </div>

  {{#each show}}
  <div class="two columns styleDisplay"> {{registrations}} </div>
  {{/each}}

  </div>
  <br>
  <div class=" twelve columns ">
    <form action="reset" method="post">
      <button class="button-primary resetbtn" type="submit" name="button">clear</button></form>
  </div>
</body>

</html>